body {
  margin: 0;
  padding: 0;
  background-color: #292b2f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  background-color: #1f2126;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.resume{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.table th {
  background-color: #343a40;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 30px;
}

.form label {
  font-size: 16px;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"] {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form input[type="submit"]:hover {
  background-color: #0069d9;
}

select {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #1f2126;
  color: #fff;
}

select option {
  background-color: #1f2126;
  color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.actions button {
  background-color: #343a40;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.actions button:hover {
  background-color: #172533;
}

.actions button:active {
  background-color: #414141;
}

button.save {
  background-color: #1f3e35;
  color: #fff;
}

button.save:hover {
  background-color: #08382a;
  color: #fff;
}

button.save:active {
  background-color: #034d38;
  color: #fff;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon:hover {
  color: #21d4fd;
}

.icon:active {
  color: #b721ff;
}

.yellow{
  color: #f1c40f;
}

.icon.red{
  color: red;
}

.green{
  color: #2ecc71;
}

.action-icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.action-icon:hover{
  color: #21d4fd;
}

.action-icon:active {
  color: #b721ff;
}

.btn-icon {
  display: inline-flex;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.icon-title {
  margin: 0 5px;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 10px;
}

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
      url("./img/loading.gif") center
      no-repeat;
  z-index: 1;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}